@import "../App.scss";

.containerOptionsMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.containerOptionMenu {
  height: 75px;
  width: 100%;
  background-color: $secundary-color;
  margin: 0px 0px 0px 0px;
  border-color: 0.5px solid $primary-color;
  border-style: ridge;
  border-radius: $border-radius-primery;
  color: $primary-color;
  font-family: $font-family-primery;
  font-size: $font-size-title;

}

.containerOptionMenu:hover {
  background-color: $background-primary-color;
  transition: background-color 0.3s ease;
  color: $secundary-color;
  font-weight: bolder;
}

