@import "../App.scss";

.containerOptionsMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.containerOptionMenu {
  height: 75px;
  width: 100%;
  background-color: $secundary-color;
  margin: 0px 0px 0px 0px;
  border-color: $primary-color;
  border-style: solid;
  border-radius: $border-radius-primery;
  color: $primary-color;
}

.containerOptionMenu:hover {
  background-color: $background-primary-color;
  transition: background-color 0.3s ease;
  color: $secundary-color;
  font-weight: bolder;
}

.textMenu {
  font-size: 30px;
  color: $primary-color;
  text-align: center;
  cursor: pointer;
  font-family: $font-family-primery;
  margin: 23px 0px 23px 0px;
}
