@import "../App.scss";

.containerListClient {
  height: 512px;
  width: 450px;
  background-color: $primary-color;
  border-radius: $border-radius-primery;
  display: flex;
  flex-direction: column;
  border-color: $primary-color;
  border-style: solid;
}

.textOptionClient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 7px;
}

.nameProductClient {
  background-color: $secundary-color;
  height: 40px;
  color: white;
}

.totalPriceClient {
  background-color: $third-color;
  height: 40px;
}

.textTotalPrice {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 7px;
}

.buttonSendProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secundary-color;
  height: 76px;
  border-radius: 0px 0px 10px 10px;
}

.textContainerListClient {
  font-family: $font-family-primery;
  font-size: smaller;
  font-weight: 700;
  padding-left: 14px;
}

.scrollProductClient {
  flex: 1; /* Hace que el contenedor de productos ocupe el espacio disponible */
  max-height: 100%; /* Se asegura de que ocupe el espacio restante */
  overflow-y: auto; /* Añade scroll vertical si es necesario */
  overflow-x: hidden; /* Opcional: Evita el scroll horizontal */
}
