@import "../App.scss";

.containerListProductBreakfast {
  width: 918px;
  height: 434px;
  background-image: url("https://i.ibb.co/3m9vtcj/Disen-o-sin-ti-tulo-2.png");
  background-size: cover;
  border-color: $secundary-color;
  border-style: solid;
  border-radius: $border-radius-primery;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px; /* Espacio entre los elementos */

  @include desktop {
    width: 100%;
  }
}

.electionProduct {
  width: 200px;
  height: 100px;
  background-color: #12100dd8;
  border-radius: $border-radius-primery;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 25px;
  border-color: $secundary-color;
  border-style: solid;
}
.containerText {
  text-align: center;
}

.textElectionProduct {
  height: 75px;
  width: 100%;
  background-color: #12100dd8;
  border-radius: $border-radius-primery;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 25px;
  border-color: $secundary-color;
  border-style: solid;
  font-size: medium;
  color: $primary-color;
  font-weight: bold;
}
.textPrice {
  color: $primary-color;
  font-size: medium;
  font-weight: bold;
  font-family: $font-family-primery;
}

.sectionLeft {
  justify-content: center;
}
