@import '../App.scss';

.containerProductClient {
    width: 120px;
    height: 434px;
    background-color: $primary-color;
    border-radius: $border-radius-primery;

  
    @include desktop {
      width: 850px;
      
    }
  }