@import "../App.scss";

.containerNav {
  display: flex;
  flex-direction: row;
  font-family: $font-family-primery;
}

.optionNav {
  height: 75px;
  width: 100%;
  background-color: $third-color;
  margin: 0px 0px 0px 0px;
  border-color: $secundary-color;
  border-style: solid;
  border-radius: $border-radius-primery;
}

.textOption {
  font-size: 30px;
  color: $secundary-color;
  text-align: center;
  cursor: pointer;
  font-family: $font-family-primery;
  margin: 23px 0px 23px 0px;
}

.optionNav:hover {
  background-color: $background-primary-color;
  transition: background-color 0.3s ease;
  color: $primary-color;
  font-weight: bolder;
}

.optionSelect {
  background-color: $background-primary-color;
  height: 75px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-color: $secundary-color;
  font-weight: bold;
  font-size: 30px;
  border-radius: $border-radius-primery;
}

.textSelect {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  margin: 22px 0px 0px 0px;
}

.bannerButton {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 12px;
  gap: 0;
}

.textWelcome {
  color: $primary-color;
  font-family: $font-family-primery;
  margin: 18px;
  font-weight: bold;
  font-size: $font-size-button ;
}
