@import "../App.scss";

.containerOrder {
  width: 1130;
  height: 493px;
  background-color: $primary-color;
  border-color: $secundary-color;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.orderTitle {
  color: rgb(61, 57, 57);
  font-size: $font-size-title;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 75px 0px 0px 0px;

}


.container-input-order {
  width: 650px;
  height: 240px;
  background-color: #d9d9d9;
  border-radius: 10px;

  @include desktop {
    width: 650px;
    height: 342px;
  }
}
