@import "../App.scss";

.containerElectionMenu {
  display: flex;
  flex-direction: row;
  max-height: 500px; /* Ajusta según tus necesidades */
  overflow-y: auto;  /* Añade scroll vertical si es necesario */
  overflow-x: hidden; /* Opcional: Evita el scroll horizontal */
  padding: 0.1rem;
}

.containerMenu{
  width: 920px;
  height: 436px;
  background-image: url("https://i.ibb.co/3c9WFXS/Vintage-Retro-Delicious-Burger-Food-Logo-4.png");
  background-size: cover;
  border-color: $secundary-color;
  border-style: solid;
  border-radius: $border-radius-primery;
  margin-top: auto;

  @include desktop {
    width:100%;
  }
}


