@import "../App.scss";

.detailsProductClient {
  background-color: $primary-color;

  line-height: 1.5;
}

.textOptionClient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 7px;
}

.textContainerListClient {
  font-family: $font-family-primery;
  font-size: smaller;
  font-weight: 700;
}

.textDetailsClient {
  line-height: 0;
}

.productContainer {
  display: flex;
  align-items: center;
  width: 100%; /* Ajusta según sea necesario */
}

.textDetailsClientProduct {
  line-height: 2.5;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: nowrap;
  //overflow: hidden;
  margin-right: 1rem; /* Añadir margen derecho para separar del icono */
  text-transform: uppercase;
  margin: 0px 104px 0px 28px;
  font-size: 13px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre los iconos */
  margin: 0px 16px 0px 0px;
}

.icon {
  cursor: pointer;
  color: #333; /* Color de los iconos */
  transition: color 0.3s;
  height: 25px;

  &:hover {
    color: $background-primary-color; /* Color al pasar el mouse sobre los iconos */
  }
}

.iconDelete {
  cursor: pointer;
  color: #333; /* Color de los iconos */
  transition: color 0.3s;
  height: 25px;

  &:hover {
    color: $background-primary-color; /* Color al pasar el mouse sobre los iconos */
  }
}

.containerIcon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* Espacio entre los iconos */
}

.iconNote {
  cursor: pointer;
  color: #333; /* Color de los iconos */
  transition: color 0.3s;
  height: 25px;

  &:hover {
    color: $background-primary-color; /* Color al pasar el mouse sobre los iconos */
  }
}
.textDetailsClientPrice{
  margin: 0px 0px 0px 23px;
  font-size: 15px;
}