@import "../App.scss";

.detailsProductClient {
    background-color: $primary-color;
    height: 100%;
    line-height: 1.5;
  }

  .textOptionClient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 7px;
  }
  .textContainerListClient {
    font-family: $font-family-primery;
    font-size: smaller;
    font-weight: 700;
    padding-left: 14px;
  }
  .textDetailsClient{
    line-height: 0;
  }